.center-heading {
  position: relative;
  left: 18%;
}

.top-info {
  background-color: #f8f7f5;
  position: fixed;
  border: 1.25px solid black;
  border-bottom: 2px solid black;
  top: 0;
  height: 310.13px;
  z-index: 1;
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.top-info-right {
  background-color: #f8f7f5;
  position: fixed;
  left: 50%;
  width: 50%;
  border: 1.25px solid black;
  border-bottom: 2px solid black;
  top: 0;
  height: 310.13px;
  z-index: 1;
}

.info-para {
  font-family: Atkinson Hyperlegible;
  font-size: 18px;
  line-height: 19px;
  color: #2E2F2F;
}

.timer-1 {
  position: relative;
  width: 50px;
  height: 50px;
  left: 80px;
  top: 80px;

  font-family: Atkinson Hyperlegible;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 38px;
  padding-top: 3px;

  border: 2px solid black;
  border-radius: 5px;
}

.timer-2 {
  position: relative;
  width: 50px;
  height: 50px;
  left: 160px;
  top: 10px;

  font-family: Atkinson Hyperlegible;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 38px;
  padding-top: 3px;

  border: 2px solid black;
  border-radius: 5px;
}

.circle-1 {
  position: relative;
  left: 140px;
  top: 40px;
  background-color: #2B00FF;
  height: 9.86px;
  width: 9.86px;
  border-radius: 50%;
}

.circle-2 {
  position: relative;
  left: 140px;
  top: 48px;
  background-color: #2B00FF;
  height: 9.86px;
  width: 9.86px;
  border-radius: 50%;
}

.content_button {
  padding-top: 2.5%;
  padding-right: 2.5%;
  padding-left: 2.5%;
  font-family: Atkinson Hyperlegible;
}

.buton {
  position: relative;
  background: #2B00FF;
  border-radius: 40px;
  width: 50%;
  height: 70px;
  vertical-align: center;
  line-height: 0px;
  border: 3px solid #1F00B8;
  padding-bottom: 0px;
  left: 40%;
  top: 60px;

  appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
}

.buton:hover {
  background: #2e2f2f;
}

#button_text {
  color: white;
  font-size: 2em;
  text-decoration-line: none;
  font-family: Atkinson Hyperlegible;
  font-style: normal;
  font-weight: bold;
}

.next-text {
  position: relative;
  left: 57%;
  top: 50px;
  font-family: Atkinson Hyperlegible;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  color: #2E2F2F;
  transform: rotate(0.1deg);
}

.col.s3 {
  background-color: #f8f7f5;
  border: 1.25px solid black;
  border-bottom: 2px solid black;
  border-top: 1.5px solid black;
  padding-right: 0;
  padding-left: 0;
  padding-top: 50px;
}

.bottom-info {
  position: relative;
}

.col.s3 ul {
  padding-bottom: 50px;
  padding-right: 30px;
}

hr {
  height: 1.5px;
  background-color: black;
  margin-bottom: 15px;
}

button.hollow-circle {
  position: relative;
  width: 56.41px;
  height: 56.41px;
  border: 3px solid black;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  right: 20px;
}

button.hollow-circle:hover {
  background-color: blue;
}

html {
  background-color: #f8f7f5 !important;
}

.vote {
  position: relative;
  bottom:0px;
  font-family: Atkinson Hyperlegible;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

/* Ripple */
/* .container { */
  /* display: -webkit-box; */
  /* display: flex; */
  /* justify-content: space-around; */
  /* -webkit-box-align: center; */
          /* align-items: center; */
  /* -webkit-box-orient: vertical; */
  /* -webkit-box-direction: normal; */
          /* flex-flow: column wrap; */
  /* background: #4096EE; */
  /* height: 100vh; */
  /* -webkit-box-flex: 1; */
          /* flex: 1; */
/* } */

.ripple {
  z-index: 0;
  margin: auto;
  margin-bottom: 20px;
  background: #FEFEFE;
  border-radius: 100%;
  /* border: none; */
  /* outline: none; */
  
  position: relative;
  border: 3px solid black;
  /* background-color: white; */
  border-radius: 50%;
  /* margin-bottom: 20px; */
  /* padding-bottom: 20px; */
  /* right: 20px; */
  /* display: -webkit-box; */
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 56.41px;
  height: 56.41px;
  
}
.ripple:hover:before {
  content: '';
  width: 106.41px;
  height: 106.41px;
  position: absolute;
  border-radius: 100%;
  -webkit-animation: ripples 2s ease-in-out;
          animation: ripples 1.2s ease-in-out;
          /* animation-iteration-count: infinite; */
          /* animation-delay: 0.2; */
}
.ripple > .material-icons {
  color: black;
}
.ripple:active{
  background-color: #2B00FF;
}
.ripple:focus{
  background-color: #2B00FF;
}
@-webkit-keyframes ripples {
  0% {
    border: 1px solid transparent;
  }
  100% {
    border: 120px solid #2B00FF;
    opacity: 0;
  }
}
@keyframes ripples {
  0% {
    border: 60px solid #2B00FF;
  }
  100% {
    border: 0px solid #2b00ff05;
    opacity: 0;
  }
}

.vote-button{
  z-index: -1 !important;
  display : relative;
  justify-content: center !important;
  width: 70px;
  height: 70px;
  margin-left: 40%;
}

input.checkbox {
  position: relative;
  left: 10.7%;
  width: 50px !important;
  height: 50px !important;
}

.checkmark {
  position: relative;
  height: 50px !important;
  width: 50px;
  padding: 0 !important;
  border: 3px solid black;
  border-radius: 50%;
}

span.checkmark::before {
  margin: 0;
  border: 0 !important;
  width: 0;
  height: 0;
}

/* [type="checkbox"]:checked {
  position: relative;
  pointer-events: auto;
  width: 50px;
  height: 50px;
  opacity: 1;
  background: none;
   border: 3px solid black !important;
   opacity: 1;
   cursor: grab;
   border-radius: 50px;
} */

/* .vote-ripple{
  position: absolute;
  top: 10px;
} */

.row {
  margin-bottom: 0;
}


/* Mobile Support */
/* Portrait */
@media (max-width : 414px)  {

   
    .top-info-right {
      
    }
}
